botbuilder-integration-aiohttp>=4.15.0
recognizers-text>=1.0.2a1
recognizers_date_time
recognizers_number
botbuilder-core>=4.15.0
aiohttp
emoji
botbuilder-schema>=4.15.0
botframework-connector>=4.15.0
botbuilder-dialogs>=4.15.0
botbuilder-azure>=4.15.0
botbuilder
